@model IEnumerable<Domaine.Candidat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des candidats </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>
        <td>
            @{string path = "~/Content/Upload/" + @item.Image;}
            @*enlever label for pour afficher seulement l'image*@
            <img src="@Url.Content(path)" width="50" height="50" />        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
        <td> 
            <input type="submit" value="Affecter à une formation" id="Affecter" />
            
         </td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CIN }) |
            @Html.ActionLink("Details", "Details", new { id=item.CIN }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CIN })*@
        </td>
    </tr>
}

</table>
